@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
$cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
$background-gragient: ellipse at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%);


* {
    margin : 0;
}

body {
    background: radial-gradient($background-gragient);
    height: 100vh;
    max-width: 1366px;

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

header {
    
    display: flex;
    justify-content: space-between;

    height: 150px;
    width: 50%;

    padding: 20px;

    border: hsl(217, 16%, 45%) 4px solid;
    border-radius: 15px;

    color: $score-text;

    .header_logo {
        width: 180px;
    height: 150px;    
}

    .score {
        width: 25%;
        border-radius: 10px;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: 600;

            font-size: 20px;
        }

        p {
            color: $dark-text;
            font-size: 80px;
        }
    }
}

main {

    background-image: url("/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    .row1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .button_border {
        width: 150px;
        height: 150px;

        border-radius: 100px;
        box-shadow: inset 10px -10px 0px 5px rgba(0, 0, 0, 0.385);
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }

    .button_border:hover {
        width: 160px;
        height: 160px;

        .play_button:hover {
            width: 125px;
            height: 125px;
        }
    }

    .paper_button_border {
        background: linear-gradient($paper-gradient);
    }
    .rock_button_border {
        background: linear-gradient($rock-gradient);
    }
    .scissors_button_border {
        background: linear-gradient($scissors-gradient);
    }
    .play_button {
        width: 120px;
        height: 120px;

        box-shadow: inset -10px 10px 0px 5px rgba(0, 0, 0, 0.262);
        border-radius: 100px;
        border: none;
        
        cursor: pointer;
    }
}

.modal_container {
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: 77;

    display: none ;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.421);

    .modal {

        background-color: white;
    
        width: 400px;
        height: 400px;
        border-radius: 10px;
    
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
        .modal_rule_img {
            width: 350px;
            width: 350px;
        }
    
        .modal_header {
            display: flex;
            flex-direction: row;
    
            justify-content: space-between;
    
            width: 80%;
    
            padding: 15px 15px;
    
            p {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: end;

    .rules_button {
        width: 8%;
        height: 30px;

        color: white;
        font-size: 20px;

        border: solid 1px white;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }

    .rules_button:hover {
        border-color: rgb(155, 155, 155);
        color: rgb(155, 155, 155);
    }
}